<div class="container">
  <div class="row justify-content-md-center">
    <div class="offset-2 center">
      <div class="mt-20">
        <div class="text-center mt-30">
          <h1>Consultar Curso</h1>
        </div>
        <div class="form-group col-12 col-md-12">
          <input [(ngModel)]="filtrar" type="text" class="form-control" placeholder="Buscar">
        </div>
        <div class="mt-20">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Curso</th>
                <th scope="col">Tipo de Graduação</th>
              </tr>
            </thead>
            <tbody *ngIf="cursosFiltrados && cursosFiltrados.length">
              <tr style="cursor: pointer;" *ngFor="let cursoFiltrado of cursosFiltrados">
                <td>{{cursoFiltrado.dsCurso}}</td>
                <td>{{cursoFiltrado.tpGraduacao}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr *ngIf="!cursosFiltrados.length">
                <td colspan="8" class="text-center">
                  <h4>Nenhum curso encontrado</h4>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>