<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-3 sidebar1" >
      <div class="logo mt-30">
        <a routerLink="/home"><img src="assets/imagens/logo-athon.png" class="img-responsive center-block" alt="Logo Athon" height="85px" /></a>
       </div>
       <br />
       <div class="left-navigation">
         <ul class="list">
           <h5><strong>CADASTRO</strong></h5>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-curso" routerLinkActive="active">Curso</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-livro" routerLinkActive="active">Livro</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-plano-de-ensino" routerLinkActive="active">Plano de Ensino</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-sugestao" routerLinkActive="active">Sugestão</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-usuario" routerLinkActive="active">Usuário</a>
           </li>
         </ul>
     
         <br />
     
         <ul class="list">
           <h5><strong>CONSULTA</strong></h5>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-curso" routerLinkActive="active">Curso</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-livro" routerLinkActive="active">Livro</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-plano-de-ensino" routerLinkActive="active">Plano de Ensino</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-sugestao" routerLinkActive="active">Sugestão</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-usuario" routerLinkActive="active">Usuário</a>
           </li>
         </ul>
       </div>
    </div>

    <!-- componente da tela -->
    <div class="col-md-8 col-sm-8">
      <div class="container">
        <div class="row justify-content-md-center">
         
        <!-- FORMULARIO -->
        <div class="mt-20">
          <div class="text-center mt-30">
            <h1>Consultar Curso</h1>
          </div>
          <div class="form-group col-12 col-md-12">
            <input [(ngModel)]="filtrar" type="text" class="form-control" placeholder="Buscar">
          </div>
          <div class="mt-20">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Curso</th>
                  <th scope="col">Tipo de Graduação</th>
                </tr>
              </thead>
              <tbody *ngIf="cursosFiltrados && cursosFiltrados.length">
                <tr style="cursor: pointer;" *ngFor="let cursoFiltrado of cursosFiltrados">
                  <td>{{cursoFiltrado.dsCurso}}</td>
                  <td>{{cursoFiltrado.tpGraduacao}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr *ngIf="!cursosFiltrados.length">
                  <td colspan="8" class="text-center">
                    <h4>Nenhum curso encontrado</h4>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>