<div class="container">
  <div class="row justify-content-md-center">
    <div class="offset-2 center">
      <form>
        <div class="form-group">
          <div class="text-center mt-30">
            <h1>Consultar Curso</h1>
          </div>
          <div class="mt-10">
            <h6>Nome do curso</h6>
            <!-- se refere a DS_LIVRO-->
          </div>
          <div class="row">
            <div class="col-8">
              <input
                class="form-control form-control-sm"
                type="text"
                placeholder="Nome do curso"
              />
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-success btn-sm">
                Buscar
              </button>
            </div>
          </div>
          <div class="col-md-9 mt-30">
            <textarea
              readonly
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="5"
              placeholder="Curso"
            ></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
