<div class="container">
    <div class="row justify-content-md-center">
        <div class="offset-2 center">
            <form>
                <div class="form-group">
                    <div class="text-center mt-30">
                        <h1>Cadastrar Usuário</h1>
                    </div>
                    <div class="row mt-30">
                        <div class="col-10 col-md-10">
                            <h6>Usuário</h6>
                            <input class="form-control form-control-sm" type="text" placeholder="Nome do usuário" [(ngModel)]="usuario.nome" name="nomeUsuario">
                        </div>
                        <div class="row mt-10">
                            <div class="col-6 col-md-6">
                                <h6 class="mt-8">Login</h6>
                                <input type="text" class="form-control form-control-sm" name="login" [(ngModel)]="usuario.login" placeholder="Credencial para acessar o sistema">
                                <h6 class="mt-8">Senha</h6>
                                <input type="password" class="form-control form-control-sm" id="senha" [(ngModel)]="usuario.senha" placeholder="Credencial para acessar o sistema">
                                <input type="checkbox" class="mt-8" onclick="mostrarSenha()">
                                <label for="senha">&nbsp;Exibir Senha</label>
                            </div>
                            <div class="ml-30 col-5 col-md-5 mt-10">
                                <h6 class="mt-8">Tipo de Usuário</h6>
                                <input type="radio" name="tipoUsuarioProfessor" placeholder="" [(ngModel)]="usuario.tpUsuario" value="Professor">
                                <label for="Professor">&nbsp;Professor</label>
                                &nbsp;
                                <input type="radio" name="tipoUsuarioNde" placeholder="" [(ngModel)]="usuario.tpUsuario" value="ProfessorNDE">
                                <label for="ProfessorNDE">&nbsp;Professor NDE</label>
                                <h6 class="mt-8">Status</h6>
                                <input type="radio" name="statusAtivo" placeholder="" [(ngModel)]="usuario.status" value="Ativo">
                                <label for="Ativo">&nbsp;Ativo</label>
                                &nbsp;
                                <input type="radio" name="statusInativo" placeholder="" [(ngModel)]="usuario.status" value="Inativo">
                                <label for="Inativo">&nbsp;Inativo</label>
                            </div>
                        </div>
                        <div class="row mt-20">
                            <div class="col-6 col-md-1">
                                <button type="button" class="btn btn-secondary" (click)="editarUsuario()">Editar</button>
                            </div>
                            <div class="col-6 col-md-1">
                                <button type="button" class="btn btn-success" (click)="salvarUsuario()">Salvar</button>
                                <button type="button" class="btn btn-success" (click)="buscarUsuarioById()">buscar usuario</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="mt-20">
                <h3>Lista de Usuários</h3>
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Login</th>
                      <th scope="col">Tipo Usuário</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="cursor: pointer;" *ngFor="let usuario of usuarios" (click)="selecionarUsuario(usuario)">
                      <td>{{usuario.nome}}</td>
                      <td>{{usuario.login}}</td>
                      <td>{{usuario.tpUsuario}}</td>
                      <td>{{usuario.status}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
