<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-3 sidebar1" >
        <div class="logo mt-30">
          <a routerLink="/home"><img src="assets/imagens/logo-athon.png" class="img-responsive center-block" alt="Logo Athon" height="85px" /></a>
        </div>
        <br />
        <div class="left-navigation">
            <ul class="list">
                <h5><strong>CADASTRO</strong></h5>
                <li>
                    <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-curso" routerLinkActive="active">Curso</a>
                </li>
                <li>
                    <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-livro" routerLinkActive="active">Livro</a>
                </li>
                <li>
                    <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-plano-de-ensino" routerLinkActive="active">Plano de Ensino</a>
                </li>
                <li>
                    <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-sugestao" routerLinkActive="active">Sugestão</a>
                </li>
                <li>
                    <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-usuario" routerLinkActive="active">Usuário</a>
                </li>
            </ul>
       
           <br />
       
            <ul class="list">
                <h5><strong>CONSULTA</strong></h5>
                <li>
                    <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-curso" routerLinkActive="active">Curso</a>
                </li>
                <li>
                    <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-livro" routerLinkActive="active">Livro</a>
                </li>
                <li>
                    <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-plano-de-ensino" routerLinkActive="active">Plano de Ensino</a>
                </li>
                <li>
                    <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-sugestao" routerLinkActive="active">Sugestão</a>
                </li>
                <li>
                    <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-usuario" routerLinkActive="active">Usuário</a>
                </li>
            </ul>
         </div>
      </div>
  
      <!-- componente da tela -->
      <div class="col-md-8 col-sm-8">
        <div class="container">
            <div class="row justify-content-md-center">
                <form>
                    <div class="form-group">
                        <div class="text-center mt-30">
                            <h1>Cadastrar Usuário</h1>
                        </div>
                        <div class="mt-10">
                            <div class="row">
                                <div class="col-md-8">
                                    <h6>Usuário</h6>
                                    <input class="form-control form-control-sm" type="text" placeholder="Nome do usuário" [(ngModel)]="usuario.nome" name="nomeUsuario">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="mt-10">Login</h6>
                                    <input type="text" class="form-control form-control-sm" name="login" [(ngModel)]="usuario.login" placeholder="Credencial para acessar o sistema">
                                </div>
                                <div class="col-md-4">
                                    <h6 class="mt-10">Senha</h6>
                                    <input type="password" class="form-control form-control-sm" name="senha" id="senha" [(ngModel)]="usuario.senha" placeholder="Credencial para acessar o sistema">
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" class="mt-50" onclick="mostrarSenha()">
                                    <label for="senha">&nbsp;Exibir Senha</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="mt-10">Tipo de Usuário</h6>
                                    <input type="radio" name="tipoUsuarioProfessor" [(ngModel)]="usuario.tpUsuario" value="Professor">
                                    <label for="Professor">&nbsp;Professor</label>
                                    &nbsp;
                                    <input type="radio" name="tipoUsuarioNde" [(ngModel)]="usuario.tpUsuario"
                                        value="ProfessorNDE">
                                    <label for="ProfessorNDE">&nbsp;Professor NDE</label>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="mt-10">Status</h6>
                                    <input type="radio" name="status" [(ngModel)]="usuario.status"
                                        value="Ativo">
                                    <label for="Ativo">&nbsp;Ativo</label>
                                    &nbsp;
                                    <input type="radio" name="status" [(ngModel)]="usuario.status"
                                        value="Inativo">
                                    <label for="Inativo">&nbsp;Inativo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-2">
                            <button type="button" class="btn btn-dark" onClick="window.location.reload();">Limpar/Recarregar</button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" (click)="saveUsuario()">Salvar/Atualizar</button>
                        </div>
                        <div class="col-md-2 col-sm-2 ml-5">
                            <button class="btn btn-primary" (click)="mostrarListaUsuario = !mostrarListaUsuario">
                                {{mostrarListaUsuario ? 'Mostrar Lista' : 'Ocultar Lista'}}
                            </button>
                        </div>
                    </div>
                    <div class="mt-20" *ngIf="!mostrarListaUsuario">
                        <h3>Lista de Usuários ({{usuarios.length}})</h3>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Ações</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Login</th>
                                    <th scope="col">Senha</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let usuario of usuarios | paginate: { itemsPerPage: contadorUsuario, currentPage: pagUsuario }">
                                    <td>
                                        <<button class="btn btn-primary"
                                        (click)="abrirDetalhesUsuario(usuario)">Selecionar/Editar</button>
                                    </td>
                                    <td>{{usuario.nome}}</td>
                                    <td>{{usuario.login}}</td>
                                    <td>******************</td>
                                    <td>{{usuario.tpUsuario}}</td>
                                    <td>{{usuario.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right">
                            <pagination-controls (pageChange)="pagUsuario = $event"></pagination-controls>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>