<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/imagens/logo-athon.png" alt="Athon logo" height="90px" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="email" class="fadeIn second" name="login" [(ngModel)]="login.email" placeholder="E-mail" />
      <input type="password" id="senha" class="fadeIn third" name="senha" [(ngModel)]="login.senha" placeholder="Senha" />
      <input type="submit" class="fadeIn fourth" value="acessar" (click)="logar()"/>
    </form> 

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div> -->
  </div>
</div>
