<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-4 sidebar1">
      <div class="logo">
        <img
          src="assets/imagens/logo-athon.png"
          class="img-responsive center-block"
          alt="Logo Athon"
          height="85px"
        />
      </div>
      <br />
      <div class="left-navigation">
        <ul class="list">
          <h5><strong>CADASTRO</strong></h5>
          <li>
            <a
              class="nav-link active color-txt"
              aria-current="page"
              routerLink="/livro"
              routerLinkActive="active"
              >Livros</a
            >
          </li>
          <li>
            <a
              class="nav-link active color-txt"
              aria-current="page"
              routerLink="/usuario"
              routerLinkActive="active"
              >Usuarios</a
            >
          </li>
          <li>
            <a
              class="nav-link active color-txt"
              aria-current="page"
              routerLink="/plano-de-ensino"
              routerLinkActive="active"
              >Plano de ensino</a
            >
          </li>
        </ul>

        <br />

        <ul class="list">
          <h5><strong>CONSULTAS</strong></h5>
          <li>Hiking</li>
          <li>Rafting</li>
          <li>Badminton</li>
          <li>Tennis</li>
          <li>Sketching</li>
          <li>Horse Riding</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 main-content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus magni
      error non nesciunt vitae, perspiciatis velit accusantium neque deleniti
      atque ullam earum tempora iusto quo tenetur quasi, aliquam expedita
      providen Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
      distinctio tempore, molestiae repellendus error ut aspernatur doloribus
      ducimus architecto minus reiciendis enim vitae labore eaque optio officiis
      hic amet quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quis, perspiciatis a culpa officia fugit quos molestias, fuga earum eum
      error quas tempora nihil, autem nemo veniam commodi minus ducimus
      adipisci? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
      sequi adipisci officia eligendi sunt praesentium, corrupti magni, eos
      quaerat laudantium ipsam. Repellat tenetur illo, nihil laudantium earum
      minima voluptatum vitae. Odit quia maxime earum itaque veritatis impedit
      corrupti, tempore obcaecati eos ipsum aliquid magni labore? Dolor at
      voluptatem consequatur illo! Dolorum at modi nemo laborum eius ab
      inventore qui aliquid. Sequi, corporis. Exercitationem voluptatum quasi
      voluptatibus, cupiditate ut tenetur, fugit dicta cumque sit similique
      repudiandae totam impedit omnis aspernatur in praesentium illo. Est
      nesciunt temporibus unde itaque mollitia adipisci deserunt. Nostrum
      tenetur, ipsam obcaecati id dolorum quae voluptatum. Perspiciatis quas
      doloribus debitis, vel mollitia facilis saepe, maiores nulla voluptate
      ipsum dignissimos beatae. Corrupti rem aliquam aspernatur doloremque vitae
      adipisci eos. Repellat sed dolorem, corrupti tenetur labore sit eum iste
      temporibus ab a ratione laudantium modi, sunt cum provident id. Soluta
      cumque voluptatem optio! Odit molestias, ratione quo tenetur dolore fuga.
      Alias rem facere illum soluta quibusdam vero fugit error ab provident
      dolorum nam est laudantium quae accusantium, officiis cumque voluptas
      laboriosam. Exercitationem, voluptas eum? Accusamus nulla fuga molestias
      harum impedit. Error voluptatum aliquam asperiores dolores ullam!
      Aspernatur iste laudantium optio ipsum eligendi repellendus maiores
      corporis beatae est dolores deserunt laborum sed assumenda earum, natus
      totam tempore molestiae at! Ducimus, earum! Quod id veritatis laudantium
      ad delectus perspiciatis? Aliquam reprehenderit rem possimus iure
      aspernatur doloremque quo nisi officiis mollitia ea recusandae porro
      accusantium nam, modi autem, sit pariatur iusto deleniti. Nisi. Tenetur,
      laborum fuga vel suscipit cupiditate quae similique saepe quis doloribus
      omnis sequi a, neque soluta eius, tempore culpa! Assumenda culpa in aut
      fugit nemo quisquam asperiores, aliquid suscipit laborum! Blanditiis
      facilis fugit corporis, quibusdam eligendi, dolor quisquam consectetur
      dignissimos nisi nostrum pariatur labore quod, magni eos sapiente cumque
      optio iusto ad! Incidunt id soluta magni, laborum excepturi consequuntur
      praesentium! Laudantium voluptatum, totam perspiciatis provident tempora
      possimus saepe deserunt fuga nemo atque obcaecati illo similique in ullam?
      Obcaecati saepe quae atque blanditiis odit maxime vitae, in neque ipsam
      sequi id! Inventore esse voluptate dignissimos neque vel velit nesciunt,
      rem libero odit excepturi cum, reprehenderit, consequuntur repellat
      officiis. Porro voluptatem hic velit nisi, dignissimos eum, veniam nemo
      asperiores iusto veritatis pariatur! Voluptatibus sapiente maiores
      perspiciatis voluptate? Enim ullam labore quos qui animi culpa nobis, non
      eius dolorum ratione quae a illo corrupti quas sunt exercitationem
      repudiandae unde, id tenetur maiores illum. Dolores praesentium, quo minus
      id eius aut magnam sed minima nesciunt laborum ea, sapiente provident
      reprehenderit neque dignissimos excepturi fugit! Dolorum hic molestias
      ducimus maiores amet in magni, delectus similique. Vitae incidunt facilis
      quam alias omnis, blanditiis iste suscipit quis repellat id facere
      dolores, repellendus eveniet provident veritatis nihil fuga, quasi numquam
      temporibus animi laboriosam inventore fugit accusantium? Sint, adipisci.
      Fugiat consequuntur accusamus quasi. Quas, distinctio excepturi voluptate
      aliquid ipsum tenetur. Cupiditate iusto minima quibusdam laborum deleniti
      facere, doloremque aliquid consequatur, ab eligendi facilis reiciendis?
      Alias at soluta commodi quam! Alias vero dolor rem minus, aspernatur
      suscipit natus qui modi laudantium laboriosam! Eveniet, natus. Aliquid
      cupiditate laborum architecto impedit hic numquam voluptas doloremque
      explicabo aut praesentium. Dignissimos modi cum culpa. Magni voluptates
      enim facilis quibusdam repellat impedit incidunt, recusandae iusto quae
      perspiciatis sed dicta sit veniam consequatur id atque, aliquam aspernatur
      suscipit! Error illum, eos voluptates delectus ab autem voluptatem! Quasi
      itaque perspiciatis veniam qui alias suscipit tempora pariatur cumque
      laboriosam laborum nulla sit voluptates non, quas consequuntur reiciendis
      animi, similique fugit! Pariatur architecto ad omnis itaque nostrum,
      minima hic. Iusto mollitia explicabo sequi facere placeat harum laudantium
      fugiat, optio quas nisi deleniti alias quaerat debitis. Ab in sit harum
      nam fuga molestias dolor, dolorem, odit obcaecati explicabo suscipit?
      Voluptatibus. Voluptatibus aperiam voluptatem voluptates reprehenderit
      facilis, placeat harum corrupti quas rem perspiciatis, aliquam quod eos ad
      perferendis. Ea, adipisci! Ducimus tempora ipsum enim pariatur, at
      voluptatem iste voluptate. Corrupti, fugit. Reiciendis rem eius omnis,
      reprehenderit sint eos laboriosam mollitia illum sunt? Ratione dolore nam
      tenetur. Obcaecati minima optio libero asperiores distinctio quasi sint
      eius, reprehenderit cumque tempore nemo earum facilis? Obcaecati
      voluptatum ullam, dicta, eos officiis dolorem, veniam saepe delectus
      adipisci fugit doloremque! Voluptatem id corporis explicabo quam minima
      error rerum facere cupiditate magni voluptates inventore vero consectetur,
      atque a? Voluptates fugit officiis odio optio aperiam numquam porro
      cupiditate nesciunt adipisci, suscipit maxime quo sapiente nisi nobis.
      Laborum, sunt! Neque illum vitae iste. Eaque magnam quae a fugiat totam
      dignissimos. Accusamus perferendis laudantium repellendus repellat ut
      totam! Natus quisquam reprehenderit deserunt temporibus corrupti ipsa,
      mollitia repellat suscipit, asperiores ratione, obcaecati accusantium
      vitae? Magni inventore laborum corporis non repudiandae neque mollitia.
      Aliquid dolorem quibusdam id odit non necessitatibus repudiandae. Numquam
      aliquid quasi modi, facere a accusamus similique. Quaerat consectetur
      excepturi animi doloremque, vero non nesciunt deleniti in beatae natus?
      Ad, corporis. Id, nam dolores similique itaque beatae quod magnam dolor,
      quisquam reiciendis eveniet consequatur non culpa qui quia corrupti soluta
      voluptatum suscipit dolorem ipsa vel veritatis atque. A eos eum facere.
      Facilis eveniet veritatis aspernatur nulla, quia dignissimos ut odio
      nostrum hic autem cumque iure alias maiores cupiditate! Veritatis debitis
      quae repellat sunt quis, similique, maxime veniam a est laboriosam
      facilis! Quidem nam quisquam maxime, quod corrupti odio recusandae fugiat
      ducimus ratione, est officia deleniti soluta aspernatur excepturi
      doloremque, non repellendus? Inventore nostrum ipsam non natus doloremque,
      neque expedita fuga tempora. Id deserunt, eligendi esse corrupti suscipit
      aperiam molestiae corporis mollitia, minus cum consequatur dolorum animi
      veniam eaque nemo nam nesciunt libero quae. Fugit excepturi itaque beatae
      voluptatibus nihil magni rerum. Deserunt quae unde vel error quo nisi
      aliquam voluptate architecto eligendi repellat expedita quia, illum quis.
      Ipsa dolor harum iure explicabo. Excepturi nulla laborum tempora fugit a
      qui est suscipit! Quos, saepe in sed molestiae sapiente dolores! Cum
      possimus earum eius animi corporis minima odio numquam nihil labore
      inventore! Nulla, enim eaque. Sed laudantium dignissimos maxime voluptates
      nihil harum aliquid? Officiis, architecto? Vero vitae modi vel? Alias,
      repellendus voluptate dolores culpa quas illo assumenda error odio
      veritatis accusantium similique laboriosam nesciunt! Error quod voluptate
      dolorum quisquam temporibus tempora consequuntur obcaecati. Odit maxime
      neque voluptatibus officia volupt
    </div>
  </div>
</div>
