<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-4 sidebar1">
      <div class="logo">
        <img
          src="assets/imagens/logo-athon.png"
          class="img-responsive center-block"
          alt="Logo Athon"
          height="85px"
        />
      </div>
      <br />
      <div class="left-navigation">
        <ul class="list">
          <h5><strong>CADASTRO</strong></h5>
          <li>
            <a
              class="nav-link active color-txt"
              aria-current="page"
              routerLink="/livro"
              routerLinkActive="active"
              >Livros</a
            >
          </li>
          <li>
            <a
              class="nav-link active color-txt"
              aria-current="page"
              routerLink="/usuario"
              routerLinkActive="active"
              >Usuarios</a
            >
          </li>
          <li>
            <a
              class="nav-link active color-txt"
              aria-current="page"
              routerLink="/plano-de-ensino"
              routerLinkActive="active"
              >Plano de ensino</a
            >
          </li>
        </ul>

        <br />

        <ul class="list">
          <h5><strong>CONSULTAS</strong></h5>
          <li>Hiking</li>
          <li>Rafting</li>
          <li>Badminton</li>
          <li>Tennis</li>
          <li>Sketching</li>
          <li>Horse Riding</li>
        </ul>
      </div>
    </div>
    <div class="col-md-10 col-sm-8 main-content">
      <!--Main content code to be written here -->
    </div>
  </div>
</div>
