<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-3 sidebar1">
      <app-Menu></app-Menu>
    </div>

    <!-- componente da tela -->
    <div class="col-md-8 col-sm-8">
      <div class="container">
        <div class="row justify-content-md-center">
         
        <!-- FORMULARIO -->
        <div class="offset-2 center">
          <div class="mt-20">
            <div class="text-center mt-30">
              <h1>Consultar Livro</h1>
            </div>
            <div class="form-group col-12 col-md-12">
              <input [(ngModel)]="filtrar" type="text" class="form-control" placeholder="Buscar">
            </div>
            <div class="mt-20">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Editora</th>
                    <th scope="col">Ano</th>
                  </tr>
                </thead>
                <tbody *ngIf="livrosFiltrados && livrosFiltrados.length">
                  <tr style="cursor: pointer;" *ngFor="let livroFiltrado of livrosFiltrados">
                    <td>{{livroFiltrado.dsLivro}}</td>
                    <td>{{livroFiltrado.editora}}</td>
                    <td>{{livroFiltrado.ano}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr *ngIf="!livrosFiltrados.length">
                    <td colspan="8" class="text-center">
                      <h4>Nenhum livro encontrado</h4>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>