<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-3 sidebar1">
      <app-Menu></app-Menu>
    </div>

    <!-- componente da tela -->
    <div class="col-md-8 col-sm-8">
      <div class="container">
        <div class="row justify-content-md-center">
      
          <div class="offset-1 text-center mt-50">
            <div>
              <h1>Bem vindo</h1>
              <b class="fs-2rem bolde">ao</b>
              <h1>Plano de Ensino</h1>
            </div>
            <!-- <div class="mt-30">
              <img src="assets/imagens/logo.svg" class="img-responsive center-block" alt="Logo Athon" height="85px" />
            </div> -->
            <br><br>
            <div class="mt-30 fs-18">
              Nessa nova plataforma o professor podera consultar, selecionar e ajustar o plano de ensino do curso lecionado.
            </div>
            <div>
              Podendo também sugerir atualizações para os livros usados pelo curso.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

