<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-3 sidebar1" >
      <div class="logo mt-30">
        <a routerLink="/home"><img src="assets/imagens/logo-athon.png" class="img-responsive center-block" alt="Logo Athon" height="85px" /></a>
       </div>
       <br />
       <div class="left-navigation">
         <ul class="list">
           <h5><strong>CADASTRO</strong></h5>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-curso" routerLinkActive="active">Curso</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-livro" routerLinkActive="active">Livro</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-plano-de-ensino" routerLinkActive="active">Plano de Ensino</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-sugestao" routerLinkActive="active">Sugestão</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-usuario" routerLinkActive="active">Usuário</a>
           </li>
         </ul>
     
         <br />
     
         <ul class="list">
           <h5><strong>CONSULTA</strong></h5>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-curso" routerLinkActive="active">Curso</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-livro" routerLinkActive="active">Livro</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-plano-de-ensino" routerLinkActive="active">Plano de Ensino</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-sugestao" routerLinkActive="active">Sugestão</a>
           </li>
           <li>
             <a class="nav-link active color-txt" aria-current="page" routerLink="consulta-usuario" routerLinkActive="active">Usuário</a>
           </li>
         </ul>
       </div>
    </div>

    <!-- componente da tela -->
    <div class="col-md-8 col-sm-8">
      <div class="container">
        <div class="row justify-content-md-center">
          <form>
            <div class="form-group">
              <div class="text-center mt-30">
                <h1>Cadastrar Curso</h1>
              </div>
              <div class="mt-10">
                <h6>Curso</h6>
                <input class="form-control form-control-sm" type="text" placeholder="Nome do curso"
                  [(ngModel)]="curso.dsCurso" name="nomeCurso">
                <h6 class="mt-10">Tipo de Graduação</h6>
                <input type="radio" name="tipo" [(ngModel)]="curso.tpGraduacao" value="Bacharelado">
                <label for="Bacharelado">&nbsp;Bacharelado</label>
                &nbsp;
                <input type="radio" name="tipo" [(ngModel)]="curso.tpGraduacao" value="Licenciatura">
                <label for="Licenciatura">&nbsp;Licenciatura</label>
                &nbsp;
                <input type="radio" name="tipo" [(ngModel)]="curso.tpGraduacao" value="Tecnologo">
                <label for="Tecnologo">&nbsp;Tecnólogo</label>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-md-1 col-sm-1">
                <button type="button" class="btn btn-dark">Limpar</button>
              </div>
              <div class="col-md-1 col-sm-1 ml-10">
                <button type="button" class="btn btn-success" (click)="saveCurso()">Salvar</button>
              </div>
              <div class="col-md-2 col-sm-2 ml-5">
                <button class="btn btn-primary" (click)="mostrarListaCurso = !mostrarListaCurso">
                  {{mostrarListaCurso ? 'Mostrar Lista' : 'Ocultar Lista'}}
                </button>
              </div>
            </div>
            <div class="mt-20" *ngIf="!mostrarListaCurso">
              <h3>Lista de Cursos ({{cursos.length}})</h3>
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Ações</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Tipo de Graduação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let curso of cursos | paginate: { itemsPerPage: contadorCurso, currentPage: pagCurso }">
                    <td>
                      <button class="btn btn-danger" (click)="deleteCurso(curso)">Excluir</button>
                      <button class="ml-5 btn btn-primary" (click)="abrirDetalhesCurso(curso)">Editar</button>
                    </td>
                    <td>{{curso.dsCurso}}</td>
                    <td>{{curso.tpGraduacao}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="text-right">
                <pagination-controls (pageChange)="pagCurso = $event"></pagination-controls>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>