<div class="container">
    <div class="row justify-content-md-center">
        <div class="offset-2 center">
            <form>
                <div class="form-group">
                    <div class="text-center mt-30">
                        <h1>Cadastrar Curso</h1>
                    </div>
                    <div class="mt-10">
                        <h6>Curso</h6> <!-- se refere a DS_LIVRO-->
                        <input class="form-control form-control-sm" type="text" placeholder="Nome do curso" [(ngModel)]="curso.DsCurso" name="nomeCurso">
                        <h6 class="mt-8">Tipo de Graduação</h6>
                        <input type="radio" name="tipo" [(ngModel)]="curso.TpGraduacao" value="Bacharelado" checked>
                        <label for="Bacharelado">&nbsp;Bacharelado</label>
                        &nbsp;
                        <input type="radio" name="tipo" [(ngModel)]="curso.TpGraduacao" value="Licenciatura">
                        <label for="Licenciatura">&nbsp;Licenciatura</label>
                        &nbsp;
                        <input type="radio" name="tipo" [(ngModel)]="curso.TpGraduacao" value="Tecnologo">
                        <label for="Tecnologo">&nbsp;Tecnólogo</label>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-6 col-md-1">
                     <button type="button" class="btn btn-secondary">Editar</button>
                    </div>
                    <div class="col-6 col-md-1">
                     <button type="button" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>